<h2 class="mb-3">Regístrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "login-form" }) do |f| %>
  <%= render "shared/errors", obj: resource %>

  <%= f.text_field :full_name, autofocus: true, placeholder: "Nombre completo", class: "control" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo Electrónico", class: "control" %>
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Contraseña (#{@minimum_password_length} caracteres mínimo)", class: "control" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirma contraseña", class: "control" %>
  <%= f.submit "Regístrate", class: "btn-submit control" %>
<% end %>

<div class="mt-3">
  <%= render "devise/shared/links" %>
</div>
