<h2>Iniciar Sesi칩n</h2>
<h3>Ingrese sus credenciales</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo Electr칩nico", class: "email control" %>
  <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contrase침a", class: "password control" %>
  <%= f.submit "Iniciar Sesi칩n", class: "btn-submit control" %>
<% end %>

<div class="mt-3">
  <%= render "devise/shared/links" %>
</div>